.hd1{
    margin-top: 20vh;
    text-align: center;
    font-size: 500%;
    font-style: italic;
}
.hd2{
    text-align: center;
    font-size: 650%;
    margin-top: -8vh;
}
.dv1{
    display: flex;
    justify-content: space-around;
    margin: auto;
    height: 1vh;
    width: 40vh;
    padding: 1%;
    margin-top: -8vh;
    
}
.com{
    border-radius: 10px;
    width: 23%;
    height: 500%;
    border: 1px solid black;
    font-size: 56%;
}